html {
    background-image: url(./img/DOM-background.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:100vw;
    height: 100vh;
}



.loading-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80vw;
    height: auto;
}

.page-item {
    margin-right: 10vw;
    margin-left: 10vw;
    width: 80vw;
    height: auto;
}




#header {
    background-color: azure;
    border: 5px solid goldenrod;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    font-size: 3vw;
    margin-bottom: 1vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}

#header-title {
    display: flex;
    justify-content: center;
}


p {
    margin: auto;
}





#header-btn-placeholder {
    display: flex;
    justify-content: space-around;
}

#header-btn {
    
    margin-top: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    color: black;
    border:3px solid black;
    border-radius: 20px;
    transition: .5s;
    background-color: goldenrod;
}

#git-btn {
    
    margin-top: 2vh;
    margin-left: 1vw;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    color: black;
    border:3px solid black;
    border-radius: 20px;
    transition: .5s;
    background-color: goldenrod;
}

#header-btn:hover, #git-btn:hover{
    transition: .5s;
    scale:1.2;
}




#box-array {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 5px solid goldenrod;
    width: 80vw;
    height: auto;
    margin-right: 10vw;
    margin-left: 10vw;
}

#row {
    display: flex;
    justify-content: flex-start;
    height: 5vh;
    width: 80vw;

}

#cell {

    background-color: azure;
    border: 1px solid black;
    width: 80vw;
    transition: .1s;
}

#cell:hover {
    transition: .1s;
    scale:1.2;
    background: goldenrod;

}